{% extends "base_generic.html" %}


{% block title %}
    <title>My Library Home Page</title>
{% endblock title %}


{% block content %}
  <h1>My Library Home</h1>
  <p>
    Welcome to My Library, a website developed by
    <em>Garrett</em>!
  </p>
  <h2>Dynamic content</h2>
  <p>The library has the following record counts:</p>
  <ul>
    <li><strong>Books:</strong> {{ num_books }}</li>
    <li><strong>Copies:</strong> {{ num_instances }}</li>
    <li><strong>Copies available:</strong> {{ num_instances_available }}</li>
    <li><strong>Authors:</strong> {{ num_authors }}</li>
    <li><strong>Books about war:</strong> {{num_books_contain_war}}</li>
    <li><strong>Genres about fiction:</strong> {{num_genres_contain_fiction}}</li>
  </ul>
{% endblock %}
